[Unit]
Description=RaceFlag LED F1 Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/raceflag
Environment=RACEFLAG_CONFIG=/opt/raceflag/config.json
Environment=RACEFLAG_EFFECTS=/opt/raceflag/raceflag/effects/effects.json
Environment=RACEFLAG_VERSION=/opt/raceflag/version.txt
Environment=RACEFLAG_DIR=/opt/raceflag
ExecStart=/usr/bin/python3 -m raceflag.main
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
